@mixin for-wide-screen {
  @media screen and (min-width: 48em) {
    @content;
  }
}

@mixin transition($name, $duration, $timing_function, $delay: 0s) {
  transition: $name $duration $timing_function $delay;
  -moz-transition: $name $duration $timing_function $delay;
  -webkit-transition: $name $duration $timing_function $delay;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin fadein($duration) {
  animation: fadein $duration;
  -webkit-animation: fadein $duration;
}
