@import 'font-awesome/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import 'mixins';

$photo-numbers: 2;
$background-dark: #e4e4e4;
$background-light: #f1f1f1;
$text-selection-color: #d5d5d5;
$base-font-size: 16px;

body {
  margin: 0;
  color: #444;
  font-family: 'Quicksand', '游ゴシック体 ミディアム', 'YuGothic Medium', sans-serif;
  font-size: $base-font-size;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  ::-moz-selection { background: $text-selection-color; }
  ::selection { background: $text-selection-color; }
}

a {
  color: #999;
  text-decoration: none;
  &:hover, &:active, &:focus { color: #333; }
}

h1 {
  text-align: center;
  i {
    margin-right: 5px;
  }
}

.button-open {
  margin: 20px auto 0 auto;
  text-align: center;

  a {
    display: block;
    background-color: $background-light;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 6px;
    border: 3px solid #dedede;
    color: #bfbfbf;
    text-decoration: none;
    text-align: center;
    font-weight: 700;

    @include for-wide-screen {
      max-width: 12em;
    }

    i {
      width: 1.0em;
      margin-right: 10px;
      font-size: $base-font-size;
    }
    &:hover { background-color: #dedede; }
  }
}

img#haiiro-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 55px;
  height: 55px;
  opacity: 0.5;
  @include transition(opacity, .5s, ease-in-out);
  &:hover, &:active, &:focus { opacity: 0.8; }
  @include for-wide-screen {
    top: 40px;
    left: 40px;
    width: 120px;
    height: 120px;
  }
}

#photo {
  position: relative;
  z-index: -1;
  height: 400px;
  background-color: #999;
  @include for-wide-screen {
    height: 600px;
  }
  p#photographer {
    display: block;
    position: absolute;
    top: 0;
    right: 0.75em;
    margin-left: auto;
    color: #fff;
    font-size: 0.75em;
    @include for-wide-screen {
      vertical-align: bottom;
      top: auto;
      bottom: 0;
      right: 0.8em;
      font-size: 0.8em;
    }
  }
  $i: $photo-numbers;
  @while $i > 0 {
    &.photo-index-#{$i} {
      @include fadein(2s);
      background-size: cover;
      background-image: url(/images/covers/cover_#{$i}.jpg);
      background-position: center top;
      background-repeat: no-repeat;
      @include for-wide-screen {
        background-position: center 25%;
      }
    }
    $i: $i - 1;
  }
}

#profile {
  padding-top: 10px;
  padding-bottom: 60px;
  background-color: $background-dark;
  #face {
    width: 120px;
    height: 120px;
    margin: -70px auto 0 auto;
    background-image: url('/images/face_2.jpg');
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-color: $background-dark;
    border: 2px solid #fff;
    border-radius: 75px;
  }
  h2.name {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #696969;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  h3.occupation {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6b6b6b;
    font-size: $base-font-size;
    font-weight: 300;
    text-align: center;
  }
  article {
    margin-top: 30px;
    line-height: 200%;
  }
}

#career {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: $background-light;
  color: #6b6b6b;
  font-size: 14px;
  .career-box {
    height: 60px;
    @include for-wide-screen {
      height: 50px;
      line-height: 50px;
    }
    .term {
      font-size: 12px;
      &.present {
        color: #e0559f;
      }
    }
    .content {
      font-size: $base-font-size;
      vertical-align: baseline;
      a {
        text-decoration: underline;
        &:hover, &:active, &:focus { color: #000; }
      }
    }
  }
}

.exposure {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: $background-dark;
  color: #6b6b6b;
  font-size: 14px;
  &#interview {
    background-color: $background-light;
  }
  h2 {
    color: #d1d1d1;
    font-size: 20px;
  }
  .media-box {
    padding: 15px 0 15px;
    @include for-wide-screen {
      padding: 10px 0 10px;
    }
    .data {
      font-size: 12px;
    }
    .medium {
      font-size: 12px;
    }
    .content {
      font-size: 14px;
      line-height: 1.2em;
      vertical-align: text-top;
      a {
        text-decoration: underline;
        &:hover, &:active, &:focus { color: #000; }
      }
    }
  }
}

#links {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $background-dark;
  h2 {
    color: #d1d1d1;
    font-size: 20px;
  }
  .link-box {
    padding: 0.25em 0.5em 0.25em 0;
    a {
      color: #bfbfbf;
      text-decoration: none;
      & > .icon-box {
        height: 20px;
        padding: 12px 0 12px 10px;
        background-color: $background-light;
        line-height: 20px;
        i {
          width: 1.0em;
          margin-right: 5px;
          font-size: $base-font-size;
          vertical-align: middle;
        }
        span.link-name {
          font-size: 12px;
          font-weight: 700;
        }
        &:hover { background-color: #dedede; }
      }
    }
  }
}

#footer {
  padding-bottom: 10px;
  background-color: $background-dark;
  p#copyright {
    color: #6b6b6b;
    font-size: 12px;
    text-align: center;
    line-height: 2.0em;
  }
}
