@import 'font-awesome/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

$background-dark: #e4e4e4;
$background-light: #f1f1f1;
$text-selection-color: #d5d5d5;

body {
  font-family: 'Quicksand', '游ゴシック体 ミディアム', 'YuGothic Medium', sans-serif;
  font-size: 16px;
  color: #444;
  margin: 0;
}

::-moz-selection { background: $text-selection-color; }
::selection { background: $text-selection-color; }

a {
  color: #999;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: #333;
  }
}

h1 {
  text-align: center;
  i {
    margin-right: 5px;
  }
}

img#haiiro-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  opacity: 0.5;
  &:hover, &:active, &:focus {
    opacity: 0.8;
  }
}

@media screen and (min-width: 48em) {
  img#haiiro-icon {
    top: 40px;
    left: 40px;
    width: 120px;
    height: 120px;
  }
}

#photo {
  height: 400px;
  background-color: #999;
  position: relative;
  z-index: -1;
  p.photographer {
    position: absolute;
    font-size: 0.8em;
    top: 0;
    right: 0.8em;
    color: #fff;
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 48em) {
  #photo {
    height: 600px;
    p.photographer {
      top: auto;
      bottom: 0;
      right: 1.0em;
      font-size: 1.0em;
      vertical-align: bottom;
    }
  }
}

#profile {
  background-color: $background-dark;
  padding-top: 10px;
  padding-bottom: 60px;
  #face {
    margin: -70px auto 0 auto;
    width: 120px;
    height: 120px;
    background-image: url('/images/face.jpg');
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border: 2px solid #fff;
    border-radius: 75px;
  }
  h2.name {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #696969;
    text-align: center;
  }
  h3.occupation {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6b6b6b;
    text-align: center;
  }
  article {
    line-height: 200%;
    margin-top: 30px;
  }
}

#career {
  color: #6b6b6b;
  background-color: $background-light;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 20px;
  .career-box {
    height: 60px;
    .term {
      font-size: 12px;
      &.present {
        color: #e0559f;
      }
    }
    .content {
      font-size: 16px;
      vertical-align: baseline;
      a {
        text-decoration: underline;
        &:hover, &:active, &:focus {
          color: #000;
        }
      }
    }
  }
}

@media screen and (min-width: 48em) {
  #career {
    .career-box {
      height: 50px;
      line-height: 50px;
    }
  }
}

#links {
  background-color: $background-dark;
  padding-top: 10px;
  padding-bottom: 60px;
  h2 {
    font-size: 20px;
    color: #d1d1d1;
  }
  .link-box {
    padding: 0.25em 0.5em 0.25em 0;
    a {
      color: #bfbfbf;
      text-decoration: none;
      &:hover, &:active, &:focus {
        color: #bfbfbf;
      }
      & > .icon-box {
        height: 20px;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        background-color: $background-light;
        i {
          font-size: 16px;
          margin-right: 6px;
          vertical-align: middle;
        }
        &:hover {
          background-color: #dedede;
        }
      }
    }
  }
}
