doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/grid.css")

    meta(property="og:url" content="http://haiiro.haiji.co/")
    meta(property="og:type" content="profile")
    meta(property="og:title" content="灰色ハイジ")
    meta(property="og:description" content="制作会社でWebデザイナーを経験後、クリエイティブエージェンシーSIXでプランナーに転身。2015年に独立。デジタル施策の企画を中心に、デザインなどを手がける。主な仕事に祭 with android、AmazarashiのMV内のUIデザインなど。不定期に日テレSENSORSでインタビュアーなども務める。")
    meta(property="og:image" content="http://haiiro.haiji.co/images/ogp_1200x630.jpg")

  body
    != yield
