img#haiiro-icon(src= '/images/haiiro.png')
#photo
  p.photographer Photo by Kengo Hamasaki

.grid#profile
  .grid__col.grid__col--7-of-12.grid__col--centered
    #face
    h2.name 灰色ハイジ
    h3.occupation Planner, UI/UX Designer
    article!= partial('_shared/profile')

.grid#career
  .grid__col.grid__col--7-of-12.grid__col--centered
    .grid
      each item in public._data.careers
        .grid__col.grid__col--3-of-12.term(class= item.present ? 'present' : '')
          = item.term
        .grid__col.grid__col--9-of-12.content
          if item.content
            = item.content
          else 
            a(href= item.link, target= '_blank')
              = item.company
            | &nbsp;
            = item.occupation
.grid#links
  .grid__col.grid__col--7-of-12.grid__col--centered
    h2 Identifications of @haiji505
    .grid
      each item in public._data.links
        .grid__col.grid__col--4-of-12
          a(href= item.link, target= '_blank') 
            .icon-box
              i.fa(class= 'fa-' + item.icon)
              = item.name
